bottom_nav_part .self {
background-color: b2b2b2;
box-sizing: border-box;

border-top-color: rgba(0%,0%,0%,1);
border-right-color: rgba(0%,0%,0%,1);
border-bottom-color: rgba(0%,0%,0%,1);
border-left-color: rgba(0%,0%,0%,1);
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-width: 1pt;
border-right-width: 1pt;
border-bottom-width: 1pt;
border-left-width: 1pt;
-fm-fill-effect: 1;
}

top_nav_part .self {
	background-color: b2b2b2;
	box-sizing: border-box;

	border-top-color: rgba(0%,0%,0%,1);
	border-right-color: rgba(0%,0%,0%,1);
	border-bottom-color: rgba(0%,0%,0%,1);
	border-left-color: rgba(0%,0%,0%,1);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
	-fm-fill-effect: 1;
}

edit_box:placeholder .self {
color: #888888;
}


text_area:placeholder .self {
color: #888888;
}

calendar:placeholder .self {
color: #888888;
}

drop_down:placeholder .self {
color: #888888;
}

pop_up:placeholder .self {
color: #888888;
}

container:placeholder .self {
color: #888888;
}

button_bar:normal .self {
	border-top-color: rgba(0%,0%,0%,1);
	border-right-color: rgba(0%,0%,0%,1);
	border-bottom-color: rgba(0%,0%,0%,1);
	border-left-color: rgba(0%,0%,0%,1);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
	-fm-fill-effect: 1;
}

button_bar:normal .button_bar_divider {
	border-top-color: rgba(0%,0%,0%,1);
	border-right-color: rgba(0%,0%,0%,1);
	border-bottom-color: rgba(0%,0%,0%,1);
	border-left-color: rgba(0%,0%,0%,1);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
}


button_bar_segment:normal .self {
background-color: #b2b2b2;
color: #000000;
line-height: 1line;
text-align: center;
-fm-text-vertical-align: center;
}

button_bar_segment:normal .text {
width: 100%;
box-sizing: border-box;
height: 100%;
}
button_bar_segment:normal .icon {
-fm-icon-color: rgba(193, 193, 193, 1.0);
}

button_bar_segment:hover .self {
background-color: #d6d6d6;
}


button_bar_segment:pressed .self {
background-color: #898989;
}


button_bar_segment:active .self {
background-color: #d7d7d7;
}

button_bar_segment:active .icon {
-fm-icon-color: #d7d7d7;
}

button_bar_segment:focus .inner_border
{
	box-shadow: 0pt 0pt 4pt 2pt rgba(55, 111, 224, 1.0) inset;
}
